@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu');

$title-brown: #945d60;

* {
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    > * {
        margin: 10px;
    }

    .me {
        margin: 5vh 0;
        color: $title-brown;
    }
    
    .slash {
        font-size: 17px;
    }

    h1, h2, h3, h4 {
        text-align: center;  
    }

    p, ul {
        width: 80%;
        text-align: justify;
    }
    
    ul {
        list-style: none;
    }
    
    .photo-me {
        border-radius: 50%;
        width: 80%;
        max-width: 315px;
    }
    
    .now-desc a {
        text-decoration: none;
        color: #af473c;
        font-weight: 600;
    }
    
    .logo-box {
        width: 85%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .logo-img {
            max-width: 90px;
            min-width: 60px;
        }
    }
    
    .projects-list li {
        text-align: center;
        margin-bottom: 15px;
        
        p {
            text-align: justify;
            margin: 10px auto;
        }

        ul {
            display: flex;
            justify-content: space-around;
            margin: auto; 

            li svg {
                font-size: 25px;
            }

            li a {
                color: black;
                transition: all 0.3s;
                
                &:hover {
                    color: $title-brown;
                }
            }
        }
    }
    
    .tech-list li {
        svg {
            font-size: 40px;
        }

        img.jquery-logo, img.bootstrap-logo {
            width: 40px;
        }
    }

    .contact-list {
    width: 40%;
    margin-bottom: 25px;
    
        li a {
            text-decoration: none;
            color: black;
        }

        a svg {
        font-size: 30px;
        transition: all 0.3s;
        
            &:hover {
                color: $title-brown;
            }
        }
    }  
}

.tech-list, .contact-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}

@media screen and (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
        padding-left: 4%;
        
        > * {
            grid-column: 1/2;
            justify-self: start;    
        }  
        
        .job {
            grid-row: 2/3
        }
        
        .photo-me {
            grid-column: 2/3;
            grid-row: 3/5;
            justify-self: center;
        }
        
        h3 {
            justify-self: center;
        }

        .about-me, p, ul.projects-list,
        .tech-list, .contact-list {
            width: 100%;
        }
    } 
}